body{
    color: rgb(44, 44, 44);
    background-color: rgba(212, 208, 208, 0.842);
    font-size: 20px;
    font-weight: normal;
    padding-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.avatar {
    width: 200px;
    border-radius: 8px;
    box-shadow: 2px 14px 14px rgb(0, 0, 0);
    margin-bottom: 20px;
}

a{
    color: black;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
.name {
    margin-left: 15px;
}
hr {
    margin-bottom: -10px;
}
.card1{
    padding: 1px 15px 5px 15px;
    background-color: rgba(73, 75, 69, 0.350);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
}
.card2 {
    padding: 1px 15px 5px 15px;
    background-color: rgba(73, 75, 69, 0.300);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
}
.card3 {
    padding: 1px 15px 25px 15px;
    background-color: rgba(73, 75, 69, 0.250);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
}
.card4 {
    padding: 1px 15px 25px 15px;
    background-color: rgba(73, 75, 69, 0.200);
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
}